In [1]:
import pandas as pd
import numpy as np

In [3]:
# read data
rate = pd.read_csv('movie_rating.csv')
rate.head()

,Unnamed: 0,Customer 1,Customer 2,Customer 3,Customer 4,Customer 5,Customer 6,Customer 7,Customer 8,Customer 9,Customer 10,Customer 11,Customer 12,Customer 13,Customer 14
0,Mov 1,0,2,1,4,3,2,3,4,5,1,1,0,3,4
1,Mov 2,3,2,1,5,3,2,0,4,1,4,1,4,5,5
2,Mov 3,0,0,5,0,4,1,5,1,5,4,1,3,2,5
3,Mov 4,2,4,0,2,5,4,0,5,3,4,0,2,0,0
4,Mov 5,0,4,0,3,1,5,3,0,3,0,4,4,0,3

In [4]:
rate.corr(method=histogram_intersection)

NameError: name 'histogram_intersection' is not defined